.BuildControls{
  width: 100%;
  background-color: #CF8F2E;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
}

.OrderButton{
  padding: 15px;
  background-color: green;
  color: #FFFFFF;
  display: block;
  font: inherit;
  margin: 0 5px;
  border: 1px solid #AA6817;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
}
button:hover:disabled{
  background-color: #AC9980;
  color: #ccc;
  cursor: not-allowed;
}
